body {
    .pusher {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    #logo {
        width: 9em;
        margin: .05em 0;
    }

    main {
        flex: 1;
        margin-top: 7em;
    }

    footer.ui.segment {
        border-radius: 0rem;

        span {
            color: #696969;
        }

        span.pull.right {
            float: right;
        }
    }

    @media only screen and (max-width: 767px) {
        .mobile.hidden,
        .tablet.only,
        .small.monitor.only,
        .large.monitor.only {
            display: none !important;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .mobile.only,
        .tablet.hidden,
        .small.monitor.only,
        .large.monitor.only {
            display: none !important;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .mobile.only,
        .tablet.only,
        .small.monitor.hidden,
        .large.monitor.only {
            display: none !important;
        }
    }

    @media only screen and (min-width: 1200px) {
        .mobile.only,
        .tablet.only,
        .small.monitor.only,
        .large.monitor.hidden {
            display: none !important;
        }
    }
}
